# Part 1

The file "Purchase_Data.csv" contains purchase data at a Chinese supermarket for various products.  Read this csv into a dataframe called df_data and use the head() method to check that you have read in the data correctly. Make sure you import pandas.

In [9]:
import pandas as pd

# directory 
file_path = "Data/Purchase_Data.csv"

# Read the CSV file into a DataFrame
df_data = pd.read_csv(file_path)

# Display the first few rows of the DataFrame to verify
print(df_data.head())

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price
0    2.0
1    2.0
2    2.0
3    6.0
4    6.0

Use the dtypes attribute to view how each column is stored

In [10]:
#Write your code here
print(df_data.dtypes)

invoice_number    float64
invoice_time       object
store_id           object
product_id          int64
category_id         int64
num_item          float64
price             float64
dtype: object

Slice the first two columns using .loc and store the result in a variable called result_1.

In [11]:
#Write you code here
result_1 = df_data.loc[:, :'invoice_time']

# Display
print(result_1)

      invoice_number   invoice_time
0       2.020000e+11  7/15/15 10:45
1       2.020000e+11  7/15/15 12:16
2       2.020000e+11  7/15/15 12:16
3       2.020000e+11  7/15/15 12:16
4       2.020000e+11  7/15/15 12:16
...              ...            ...
5377    2.020000e+11   9/5/15 23:07
5378    2.020000e+11   9/5/15 23:23
5379    2.020000e+11   9/5/15 23:24
5380    2.020000e+11   9/5/15 23:32
5381    2.020000e+11   9/5/15 23:38

[5382 rows x 2 columns]

Slice the first two rows using .loc and store the result in a variable called result_2.

In [12]:
#Write you code here
result_2 = df_data.loc[:1]

# Display
print(result_2)

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0

   price
0    2.0
1    2.0

Slice the first four rows and the first five columns and store the result in a variable called result_3.

In [13]:
#Write your code here
result_3 = df_data.iloc[:4, :5]

# Display
print(result_3)

   invoice_number   invoice_time store_id  product_id  category_id
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401

Slice rows 0,4,6 and columns invoice time and price and store the result in variable called result_4.

In [14]:
#Write your code here
result_4 = df_data.iloc[[0, 4, 6], [1, 3]]

# Display 
print(result_4)

    invoice_time  product_id
0  7/15/15 10:45     7000300
4  7/15/15 12:16     7090363
6  7/15/15 15:28     7000126

Store the number rows in a variable called num_rows.

In [15]:
num_rows = df_data.shape[0]

# Display 
print("Number of rows:", num_rows)

Number of rows: 5382

Print out the last row of the data to dataframe. **Hint:** use the variable num_rows from the previous exercise.

In [16]:
#Write your code here
num_rows = df_data.shape[0]

# Print out the last row of the DataFrame
print(df_data.loc[num_rows - 1])

invoice_number    202000000000.0
invoice_time        9/5/15 23:38
store_id                    G619
product_id              23030206
category_id               210101
num_item                     1.0
price                        2.0
Name: 5381, dtype: object

# Part 2

Compute the average and max price charged.  Store the results in variables called avg_price and max_price

In [17]:
#Write your code here
import pandas as pd

#  directory 
file_path = "Data/Purchase_Data.csv"

# Read
df_data = pd.read_csv(file_path)

# Compute
avg_price = df_data['price'].mean()
max_price = df_data['price'].max()

# Display 
print("Average price charged:", avg_price)
print("Maximum price charged:", max_price)

Average price charged: 3.1920522110741363
Maximum price charged: 6.01

Compute the average price and average number of items purchased with only a single call to the mean() method. Store these averages in avg_price and avg_num_items.

In [18]:
#Write you code here
avg_price, avg_num_items = df_data[['price', 'num_item']].mean()

# Display the results
print("Average price:", avg_price)
print("Average number of items purchased:", avg_num_items)

Average price: 3.1920522110741363
Average number of items purchased: 1.2983091787439613

Create a column called "total", which is the product of the price and num_item columns.

In [19]:
#Write your code here
df_data['total'] = df_data['price'] * df_data['num_item']

# Display
print(df_data)

      invoice_number   invoice_time store_id  product_id  category_id  \
0       2.020000e+11  7/15/15 10:45     G816     7000300       210101
1       2.020000e+11  7/15/15 12:16     G816     7070884        70203
2       2.020000e+11  7/15/15 12:16     G816     7070884        70203
3       2.020000e+11  7/15/15 12:16     G816     7070891        70401
4       2.020000e+11  7/15/15 12:16     G816     7090363        70401
...              ...            ...      ...         ...          ...
5377    2.020000e+11   9/5/15 23:07      300     7308017       210101
5378    2.020000e+11   9/5/15 23:23     G619     7070891        70401
5379    2.020000e+11   9/5/15 23:24     G619     7071096        70201
5380    2.020000e+11   9/5/15 23:32     G619    15000231        70301
5381    2.020000e+11   9/5/15 23:38     G619    23030206       210101

      num_item  price  total
0          1.0    2.0    2.0
1          1.0    2.0    2.0
2          1.0    2.0    2.0
3          1.0    6.0    6.0
4          1.0    6.0    6.0
...        ...    ...    ...
5377       1.0    3.0    3.0
5378       1.0    6.0    6.0
5379       1.0    5.0    5.0
5380       2.0    2.0    4.0
5381       1.0    2.0    2.0

[5382 rows x 8 columns]

What is the avgerage price of the three most expensive purchases?

In [20]:
#Write your code here
sorted_df = df_data.sort_values(by='price', ascending=False)

# Select the top three rows (most expensive purchases)
top_three_expensive = sorted_df.head(3)

# Calculate the average
avg_price_top_three = top_three_expensive['price'].mean()

# Display the average
print("Average price of the three most expensive purchases:", avg_price_top_three)

Average price of the three most expensive purchases: 6.003333333333333

How many different products are there?

In [21]:
#Write your code here
num_unique_products = df_data['product_id'].nunique()

# Display 
print("Number of different products:", num_unique_products)

Number of different products: 53

Find the difference between the mean and median of the column total.  Use the describe() method and then index the dataframe it returns.

In [22]:
#Write your code here
summary_stats = df_data['total'].describe()

# Extract the mean and median from the summary statistics 
mean_total = summary_stats.loc['mean']
median_total = summary_stats.loc['50%']  # 50% corresponds to the median

# Calculate 
difference_mean_median = mean_total - median_total

# Display
print("Difference between mean and median of 'total' column:", difference_mean_median)

Difference between mean and median of 'total' column: 0.9318078781127839

Use the drop() method to delete the column total from the dataframe df_data.

In [23]:
#Write your code here
df_data.drop(columns='total', inplace=True)

# Display the DataFrame after dropping the column
print(df_data)

      invoice_number   invoice_time store_id  product_id  category_id  \
0       2.020000e+11  7/15/15 10:45     G816     7000300       210101
1       2.020000e+11  7/15/15 12:16     G816     7070884        70203
2       2.020000e+11  7/15/15 12:16     G816     7070884        70203
3       2.020000e+11  7/15/15 12:16     G816     7070891        70401
4       2.020000e+11  7/15/15 12:16     G816     7090363        70401
...              ...            ...      ...         ...          ...
5377    2.020000e+11   9/5/15 23:07      300     7308017       210101
5378    2.020000e+11   9/5/15 23:23     G619     7070891        70401
5379    2.020000e+11   9/5/15 23:24     G619     7071096        70201
5380    2.020000e+11   9/5/15 23:32     G619    15000231        70301
5381    2.020000e+11   9/5/15 23:38     G619    23030206       210101

      num_item  price
0          1.0    2.0
1          1.0    2.0
2          1.0    2.0
3          1.0    6.0
4          1.0    6.0
...        ...    ...
5377       1.0    3.0
5378       1.0    6.0
5379       1.0    5.0
5380       2.0    2.0
5381       1.0    2.0

[5382 rows x 7 columns]

Let's dig a little deeper into the data set and answer some basic question.

In [24]:
#Write your code here

First, covert the column invoice time to a datetime column. Print out the new column types to make sure this was done correctly

In [25]:
#Write your code here
df_data['invoice_time'] = pd.to_datetime(df_data['invoice_time'])

# Print out the new column types
print(df_data.dtypes)

invoice_number           float64
invoice_time      datetime64[ns]
store_id                  object
product_id                 int64
category_id                int64
num_item                 float64
price                    float64
dtype: object

Next, let's create columns called "DOW" and "Month", which store the corresponding weekday and month of the invoice respectively.  Print the head of the dataframe to make sure this was done correctly.

In [26]:
#Write your code here
df_data['invoice_time'] = pd.to_datetime(df_data['invoice_time'])

# Create new columns for Day of Week (DOW) and Month
df_data['DOW'] = df_data['invoice_time'].dt.day_name()
df_data['Month'] = df_data['invoice_time'].dt.month_name()

# Print the head of the DataFrame to check the new columns
print(df_data.head())

   invoice_number        invoice_time store_id  product_id  category_id  \
0    2.020000e+11 2015-07-15 10:45:00     G816     7000300       210101
1    2.020000e+11 2015-07-15 12:16:00     G816     7070884        70203
2    2.020000e+11 2015-07-15 12:16:00     G816     7070884        70203
3    2.020000e+11 2015-07-15 12:16:00     G816     7070891        70401
4    2.020000e+11 2015-07-15 12:16:00     G816     7090363        70401

   num_item  price        DOW Month
0       1.0    2.0  Wednesday  July
1       1.0    2.0  Wednesday  July
2       1.0    2.0  Wednesday  July
3       1.0    6.0  Wednesday  July
4       1.0    6.0  Wednesday  July

Create a variable called num_purchases_wed, which stores the number of purchases made on Wednesday?  You should use value_counts and then index the series it return.

In [27]:
#Write your code here
df_data['invoice_time'] = pd.to_datetime(df_data['invoice_time'])

# Create new columns for Day of Week (DOW) and Month
df_data['DOW'] = df_data['invoice_time'].dt.day_name()

# Get the number of purchases made on Wednesday (DOW)
num_purchases_wed = df_data['DOW'].value_counts().loc['Wednesday']

# Display the number of purchases made on Wednesday
print("Number of purchases made on Wednesday:", num_purchases_wed)

Number of purchases made on Wednesday: 959

# Part 3

In this set of practice exercises, we will be working with a demographic data regarding the passengers aboard the Titanic.  Read in the data frame and use the head() method to check that it was read in correctly.

In [49]:
#Write your code here
import pandas as pd

#  titanic.csv directory 
file_path = "Data/Titanic.csv"

# Read 
df_titanic = pd.read_csv(file_path)

# Display 
print(df_titanic.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

Use the rename method to change the column "Name" to "Passenger_Name" and the column "Ticket" to "Ticket_Num".

In [50]:
#Write your code here
df_titanic.rename(columns={"Name": "Passenger_Name", "Ticket": "Ticket_Num"}, inplace=True)

# Display
print(df_titanic.head())

   PassengerId  Pclass                                Passenger_Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
0  34.5      0      0     330911   7.8292   NaN        Q
1  47.0      1      0     363272   7.0000   NaN        S
2  62.0      0      0     240276   9.6875   NaN        Q
3  27.0      0      0     315154   8.6625   NaN        S
4  22.0      1      1    3101298  12.2875   NaN        S

Change the index of the df_titanic to the column PasengerID.

In [51]:
#Write your code here
df_titanic.set_index("PassengerId", inplace=True)

# Display 
print(df_titanic.head())

             Pclass                                Passenger_Name     Sex  \
PassengerId
892               3                              Kelly, Mr. James    male
893               3              Wilkes, Mrs. James (Ellen Needs)  female
894               2                     Myles, Mr. Thomas Francis    male
895               3                              Wirz, Mr. Albert    male
896               3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

              Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
PassengerId
892          34.5      0      0     330911   7.8292   NaN        Q
893          47.0      1      0     363272   7.0000   NaN        S
894          62.0      0      0     240276   9.6875   NaN        Q
895          27.0      0      0     315154   8.6625   NaN        S
896          22.0      1      1    3101298  12.2875   NaN        S

Select the name of passenger 896

In [52]:
#Write your code here
passenger_name_896 = df_titanic.loc[896, "Passenger_Name"]

# Display
print("Name of passenger 896:", passenger_name_896)

Name of passenger 896: Hirvonen, Mrs. Alexander (Helga E Lindqvist)

Change the index back to row numbers but making sure that we don't lose the PassengerId column.

In [53]:
#Write your code here
df_titanic.reset_index(inplace=True)

# Display 
print(df_titanic.head())

   PassengerId  Pclass                                Passenger_Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
0  34.5      0      0     330911   7.8292   NaN        Q
1  47.0      1      0     363272   7.0000   NaN        S
2  62.0      0      0     240276   9.6875   NaN        Q
3  27.0      0      0     315154   8.6625   NaN        S
4  22.0      1      1    3101298  12.2875   NaN        S

How many missing entries are there in the Age column? Use the isnull() method and recall than Booleans are exactly like 1s (True) and 0s (False).

In [54]:
#Write you code here
missing_age_count = df_titanic['Age'].isnull().sum()

# Display 
print("Number of missing entries in the 'Age' column:", missing_age_count)

Number of missing entries in the 'Age' column: 86

Compute the avg age of passengers ignoring the missing data.

In [55]:
#Write your code here
avg_age_without_missing = df_titanic['Age'].dropna().mean()

# Display the average age of passengers without missing data
print("Average age of passengers (ignoring missing data):", avg_age_without_missing)

Average age of passengers (ignoring missing data): 30.272590361445783

Using the fillna() method replace the missing values in the Age column with the mean.

In [56]:
#Write your code here
mean_age = df_titanic['Age'].mean()

# Replace missing values
df_titanic['Age'].fillna(mean_age, inplace=True)

# Display 
print(df_titanic.head())

   PassengerId  Pclass                                Passenger_Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
0  34.5      0      0     330911   7.8292   NaN        Q
1  47.0      1      0     363272   7.0000   NaN        S
2  62.0      0      0     240276   9.6875   NaN        Q
3  27.0      0      0     315154   8.6625   NaN        S
4  22.0      1      1    3101298  12.2875   NaN        S

What is the average age of the 5 oldest passengers? The reset_index method will be helpful here.

In [58]:
#Write your code here
df_oldest_passengers = df_titanic.sort_values(by='Age', ascending=False)

# Select the top 5 rows (oldest passengers)
top_5_oldest_passengers = df_oldest_passengers.head(5)

# Calculate 
avg_age_oldest_passengers = top_5_oldest_passengers['Age'].mean()

# Display 
print("Average age of the 5 oldest passengers:", avg_age_oldest_passengers)

Average age of the 5 oldest passengers: 67.0